# Event Hubs Kafka endpoint
bootstrap.servers=<example>.servicebus.windows.net:9093
client.id=mirror_maker_producer

# Event Hubs requires secure communication
sasl.mechanism=PLAIN
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="Endpoint=sb://<example>.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=AbcD#@1234564/";
